@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "tailwindcss";

@font-face {
  font-family: Brasilia;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/BrasiliaDelight.woff2") format("woff2");
}

@theme {
  --font-display: "Montserrat", sans-serif;
  --font-brasilia: "Brasilia", "serif";
  --color-green-700: #567170;
  --color-orange-300: #ea8d48;
  --color-grey-900: #363f36;
}

.separation::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 1px;
  background-color: #363f36;
  margin-right: 20px;
}
.separation::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 1px;
  background-color: #363f36;
  margin-left: 20px;
}